/* search-bar */
.search-bar {
    position: relative;
    top: -25px;
    display: flex;
    justify-content: center;
    background-color: transparent;
}

.search-bar>div {
    width: 80%;
    height: 50px;
    background-color: white;
    padding: 0px 30px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.search-bar input,
button {
    border: none;
}

.search-bar__input {
    width: 90%;
}

.search-bar__input:focus {
    outline: none;
}

.search-bar__input::placeholder {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.2);
}

.search-bar__button {
    width: 10%;
    background-color: white;
    color: rgba(0, 0, 0, 0.2);
}